* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 2rem;
  background-color: #111;
  color: #fff;
}

.parallax-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.parallax-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://source.unsplash.com/1600x900/?nature,water');
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.parallax-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #000;
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
}

.content-section {
  padding: 4rem 2rem;
  max-width: 800px;
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
  background-color: #f5f5f5;
}
